/* Css Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */

:root {
  --color-background: #1f2024;
  --color-game-background: #8ae9ec;
  --color-text: #f8fef9;
  --color-accent: #4e76b8;
}

/* Main Container */

body {
  background-color: var(--color-background);
  color: var(--color-text);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 100vh;

  overflow-x: hidden;
  overflow-y: hidden;
}

/* Game Header (Gameplay Info) */
.game-main {
  width: min(70vw, 500px);
  height: min(75vw, 550px);

  background-color: var(--color-game-background);
  margin-block: 1rem min(8vw, 4rem);

  border-radius: 5vw;

  position: relative;
}

/* Game Controls Container */
.game-main .game-controls {
  height: 20%;
  width: 90%;

  background-color: var(--color-background);

  border-radius: 100vw 100vw 0 0;

  position: absolute;
  bottom: -10%;
  left: 0px;
  right: 0px;

  margin-inline: auto;

  display: flex;
  flex-direction: row;

  justify-content: space-evenly;
  align-items: center;

  padding-inline: 3rem;
}

/* Game Controls */
.game-controls .control-button {
  width: min(11vw, 5rem);
  height: min(11vw, 5rem);

  border-radius: 2.5rem;
  border: 2px var(--color-text) solid;

  background-color: transparent;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: 55%;

  z-index: 1;
}

.game-controls .control-button:hover {
  scale: 1.1;
}

.game-controls #button_rock {
  background-image: url("/assets/images/rock.png");
  background-size: 75%;
}

.game-controls #button_paper {
  background-image: url("/assets/images/paper.png");
  background-size: 70%;
  background-position: 30%;
}

.game-controls #button_scissors {
  background-image: url("/assets/images/scissors.png");
  background-size: 60%;
}
/* Score Labels */
.score-labels {
  width: 80%;

  margin-inline: auto;

  position: absolute;
  left: 0;

  right: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.score-labels p {
  font-weight: bold;
  font-size: 1.8rem;
}

p#human-score {
  color: #6098f3;
}

p#computer-score {
  color: #ff2f3f;
}

/* Game Main UI (Human vs Computer Choices) */

.game-main .game-main-UI {
  width: 100%;
  height: 90%;

  display: flex;
  flex-direction: column;

  justify-content: space-evenly;
  align-items: center;
}

/* Choice UI / Choice images*/

.game-main-UI .choice-UI {
  width: min(16vw, 7rem);
  height: min(16vw, 7rem);

  border-radius: 4rem;

  background-color: var(--color-background);

  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 55%;
}

.game-main-UI .choice-divider {
  position: relative;

  width: 80%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-main-UI .choice-divider hr {
  background-color: var(--color-background);
  height: 2px;
  width: 100%;

  border: none;
}
.game-main-UI .choice-divider p {
  position: absolute;

  font-weight: bold;
  font-size: min(4vw, 2rem);

  text-transform: capitalize;

  background-color: var(--color-game-background);

  padding-inline: 1rem;

  color: var(--color-background);
}

/* Dynamically added classes */

/* Choice Images lost and won added styles */
.choice-UI-lost {
  scale: 0.9;
  border: 2px red solid;
}

.choice-UI-won {
  scale: 1.1;
  border: 2px greenyellow solid;
}

/* Game title */

.game-header h1 {
  font-size: min(5vw, 2rem);
}

/* Game footer */
.game-footer {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.nour-pic {
  height: min(8vw, 3.4rem);
  width: min(8vw, 3.4rem);

  background-color: #ff2f3f;

  border-radius: 2rem;
  border: 1px white solid;

  margin-bottom: 0.5rem;
}
